/* @media screen and (min-width: 320px) {
  .card {
    flex: 1 1 calc(75% - 2rem);
  }
} */

/* @media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
} */

@media screen and (max-width: 659px) {
  li.li-menu {
    display: none!important;
  }

  nav.footer-nav {
    display: block;
  }

  nav.footer-nav ul {
    margin: 0 0!important;
    padding-top: 5% !important;
  }
}
@media screen and (min-width: 320px) {
  #menu ul li.li-img a {
    margin-left: -25% !important;
  }
}

@media screen and (min-width: 660px) {
  #root {
    margin: 0px 7% !important;
  }

  nav.footer-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #root {
    margin: 0px 11% !important;
  }
}

@media screen and (min-width: 1600px) {
  #root {
    margin: 0px 20% !important;
  }

  #menu ul li.li-img {
    margin-right: 46% !important;
  }
}

@media screen and (min-width: 1872px) {
  #root {
    margin: 0px 26% !important;
  }

  #menu ul li.li-img {
    margin-right: 35% !important;
  }
}

@media screen and (min-width: 2348px) {
  #root {
    margin: 0px 30% !important;
  }

  #menu ul li.li-img {
    margin-right: 29% !important;
  }
}

@media screen and (min-width: 2560px) {
  #root {
    margin: 0px 33% !important;
  }

  #menu ul li.li-img {
    margin-right: 23% !important;
  }
}
