* {
  box-sizing: border-box
}

body {
  margin: 0px;
}

#menu ul {
  padding:0px;
  margin: 0px 200px;
  list-style:none;
}

#menu ul li {
  display: inline;
}

#menu ul li.li-img {
  margin-right:60%;
}

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

#menu ul li a:hover {
  color: #6D6D6D;
}

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

img.logo {
  max-height: 40px;
  margin: 10px 0 10px 10px;
  left: 0px;

}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0px 15%;
}

nav.navbar {
  background-image: linear-gradient(120deg, #87CEFA 0%, #008B8B 25%, #161B38 100%);
  min-height: 60px;
}

.number_id {
  height: 20px;
  width: 20px;
  position: relative;
  left: -50%;
  margin-top: -22%;
  background: #87CEFA;
  border-radius: 50%;
  font-weight: bold;
  color: #000000;
}

.card.fill-background {
  background: #161B38;
  color: #FFFFFF;
}

.card-text {
  min-width: 90px;
}

.card-text-info {
  min-width: 165px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.circle img {
  position: absolute;
  bottom: 0;
  max-width: 150px;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  transition: all .2s linear;
  color: #000000;
}

.info-card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  transition: all .2s linear;
  min-width: 100%;
  min-height: 140px;
  color: #000000;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}
